<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Template</title>
</head>
<body>

<h1>Congratulations !! For Successful Registration On Gupta Healthcare.</h1>

<h2>Below are the details of your registration.</h2>
<p th:text="${'Username    : ' +username}"></p>
<p th:text="${'Password     :' +passsword}"></p>
<p th:text="${'FirstName : ' +firstName}"></p>
<p th:text="${'LastName : ' +lastName}"></p>
<p th:text="${'Email : ' +email}"></p>
<p th:text="${'Phone no. : ' +phone}"></p>
<p><b>For Any Discrepancy You can contact Gupta Healthcare through following mode of communication.</b></p>
<p>Mobile No.:7056206489</p>
<p>Email:akg399798@gmail.com</p>

<p><b>Be Healthy,Be Safe.</b></p>

</body>
</html>